{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,-25" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbit&display=swap" rel="stylesheet">

    <title>Service Page</title>

    <script>
      var userBookmark = JSON.parse('{{ user_bookmark_json | escapejs }}');
    </script>

    <style>
        textarea {
          font-size: 3px;
        }
        table {
          width: 100%;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    <div class="header">
        
      <img src="{% static 'image/Logo.png' %}">
    </div>
  
      <div class="container">
        <div class="content1">
          <!-- <div class="flexible-textbox"></div> -->
          <!-- <label for="site-search">Search the tag:</label> -->
          <input 
            type="search" 
            class="flexible-textbox" 
            placeholder="태그를 입력해 주세요"
            />
          <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
          <!-- <button><span class="material-symbols-outlined">manage_search</span></button></button> -->
          <span class="validity"></span>
          <div id="tags"></div>
          <div class="tag_box">
            <!-- <div id="tags"> -->
                
          </div>
  
        </div>  
        <div class="content2">
            <div class="tag_box_current">
                <div id="selected-tags"></div>
            </div>    
        </div>  
  
        <div class="content3">
          <div class="url_box">

            <table>
              <thead>
                  <tr>
                      <th>Title</th>
                      <th>Tags</th>
                      <th>x</th>
                  </tr>
              </thead>
              <tbody id="bookmarks_whole"> </tbody>
            </table>

          </div>
  
        </div>  
       
      </div>
      
  
      <div class="footer">
        
      </div>

</body>
</html>