* {
    box-sizing: border-box;
  }
  
body{
  margin: 0;
  padding: 2% 0% 1% 0%;
  background-color:rgba(248,249,250,1);
}
.container{
    width:100%;
    height:100%;
    /* margin:0 auto; */
    position: relative;
    background-color:rgba(248,249,250,1);
    display: flex;
    flex-direction: column;
    /* justify-content : center; */
    align-items: center;
    justify-content: center; 
    font-family: 'IBM Plex Sans KR', sans-serif;
}
.h_container{
  width:100%;
  display: flex;
  margin: 0;
  justify-content: center; 
  align-items: center;
}
.header{
    height: 145px;
    width:80%;
    margin: 0;
    position: relative;
    background: rgba(248,249,250,1);
    display: flex;
    margin-bottom: 30px;
    position: relative;
    justify-content : center;
    align-items: center;
}

.img{
    height: 100px;
    width: auto;
    display: flex;
    margin-right: 30px;
    /* transform: translate(250%); */
    /* position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
.web_title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    font-weight: bold;
}
.Favorites{
  display: block;
  width:80%;
  height:30px;
  /* align-items: right; */
  /* background-color:rgb(48, 132, 216); */
}
.f_tmp{
  width:7px;
  height:30px;
  background-color:transparent;
    float: left;
}
.f1{
  width:80px;
  height:30px;
  background-color:#E3EAF4;
  border-top-left-radius : 7px;
  border-top-right-radius : 7px;
    /* border: 1px solid black; */
    float: left;
}
.f2{
  width:80px;
  height:30px;
  background-color:#D2D8D8;
  border-top-left-radius : 7px;
  border-top-right-radius : 7px;
    /* border: 1px solid black; */
    float: left;
}
.f3{
  width:80px;
  height:30px;
  background-color:#F0E4D6;
  border-top-left-radius : 7px;
  border-top-right-radius : 7px;
    /* border: 1px solid black; */
    float: left;
}
.Refresh{
  width:30px;
  height:30px;
  float: right;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: #a3a3a3;
  /* background-color:#312f2d; */
}
.Refresh:hover {
  /* font-size: 120%; */
  color: #050505;
  background-color: #efefef;
  border-radius: 50%;
}

.content1 {
    display: block;
    width:80%;
    height:23%;
    /* margin-right: 30px;
    margin-left: 30px; */
    position: relative;
    justify-content : center;
    align-items: center;
    /* 확인용 */
    /* height: 300px; */
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    border: 1px solid black;
}

#tags{
    display: block;
    overflow-y:scroll;
    height: 70%;
    height: 300px;
    display: block;
}

.search_tag{
    display: flex;
    justify-content : center;
    align-items: center;
    margin-bottom: 15px;
    font-size: 16px
}

#input-tag{
    width:100%;
    height: 50px;
    left: 50%;
    /* left:25px; */
    /* padding: 5px 5px 5px 5px; */
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 7px;
    padding-left: 20px;
    border-radius: 10px;
    background-color:rgba(248,249,250,1);
    border: 1px solid black;
    font-weight: bold;
}

#ui-id-1 {
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
}
.ui-menu-item-wrapper {
  border-radius: 10px;
  text-indent: 10px;  /* Indent text here */
}
.ui-menu-item {
  border-radius: 10px;
} 
.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
  background: #6693bc !important;
  font-weight: bold !important;
  color: #ffffff !important;
}

#add-tag{
  width:95%;
  height: 50px;
  position: relative;
  /* left:25px; */
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  border: 0;
  background-color:rgb(255, 255, 255);
}
input:invalid ~ span::after {
    content: "✖";
    padding-left: 35px;
    /* padding-left: 5px; */
    position: absolute;
  }
  
input:valid ~ span::after {
    content: "✓";
    padding-left: 35px;
    position: absolute;
}

.tag {
    padding: 5px;
    border: 1px solid black;
    margin-top: 5px;     /* Top margin */
    margin-right: 10px;   /* Right margin */
    margin-bottom: 5px;  /* Bottom margin */
    margin-left: 10px;    /* Left margin */
    display: inline-block;
    cursor: pointer;
    transition: font-size 0.3s ease;
    border-radius: 5px;
    background-color:rgba(248,249,250,1);
    font-weight: bold;
}

.tag:hover {
    /* font-size: 120%; */
    color: #006ED4;
}

.tag-display {
  padding: 5px;
  border: 1px solid black;
  margin-top: 5px;     /* Top margin */
  margin-right: 10px;   /* Right margin */
  margin-bottom: 5px;  /* Bottom margin */
  margin-left: 10px;    /* Left margin */
  display: inline-block;
  /* cursor: pointer; */
  transition: font-size 0.3s ease;
  font-weight: bold;
  border-radius: 5px;
  background-color:rgba(248,249,250,1);
}
.tag-delete {
  padding: 5px;
  border: 1px solid black;
  margin-top: 5px;     /* Top margin */
  margin-right: 10px;   /* Right margin */
  margin-bottom: 5px;  /* Bottom margin */
  margin-left: 10px;    /* Left margin */
  display: inline-block;
  cursor: pointer;
  transition: font-size 0.3s ease;
  font-weight: bold;
  border-radius: 5px;
  content: "✖";
  background-color:rgba(248,249,250,1);
}
.tag-delete:after {display: inline-block; content: "  \00d7"; }
.tag-delete:hover {
  /* font-size: 120%; */
  color: #f95e53;
}

.selected-tag {
    background-color: #ffd800;;
}

.bookmark {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
}

.content2 {
    display: block;
    width:80%;
    height:20%;
    display: flex;
    position: relative;
    justify-content : center;
    /* 확인용 */
    background-color: rgba(248,249,250,1);
}

.tag_box_current{
    display: block;
    /* position: absolute; */
    width: 100%;
    height: 50px;
    position: relative;
    padding-top: 5px;
    padding-left: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    /* padding-top:20%; */
    border-radius: 5px;
    background-color:rgb(255, 255, 255);
    border: 1px solid black;

}
.selected-tags {
    margin-top: 20px;
    font-weight: bold;
    align-items: center;
}

.selected-tags-block {
    margin-top: 5px;
    margin-left: 5px;
    display: inline-flex;
    align-items: center;
    justify-content : center;
    font-weight: bold;
    height: 30px;
    background-color: #222529;;
    padding: 5px;
    /* margin-bottom: 1px; */
    /* border: 3px solid #4f13e798; */
    border-radius: 5px;
    color: #ffffff;
  }

.content3 {
    width:80%;
    height:100%;
    position: relative;
    display: flex;
    justify-content : center;
    align-items: center;
    /* 확인용 */
    background-color: transparent;
}
.url_box{
    /* position: absolute; */
    width: 100%;
    height: 100%;
    position: relative;
	  /* top: 40px; */
    /* padding-top:20%; */
    border-radius: 5px;
    border: 0;
    background-color:transparent;
    border: 1px solid black;
    /* overflow-y:scroll; */
    margin-bottom: 50px;
}

#bookmarks_whole {
    width: 100%; /* Set the width to 100% to fill the available space */
    table-layout: fixed; /* Fix the table layout */
    box-sizing: border-box;
    border-collapse: separate;
    background-color: rgba(255,255,255,1);
  }
  
#bookmarks_whole th{
  padding: 8px;
  height: 20px;
  background-color: #006ED4;
}
#bookmarks_whole td {
    padding: 8px; /* Add padding to the table cells for spacing */
    border: 1px solid #ccc; /* Add a border to the table cells */
    text-align: left; /* Align the text to the left in the cells */
  }
  
  #bookmarks_whole td:nth-child(1) {
    width: 30%;
  }
  
  /* Apply styles to the second column (index 2) */
  #bookmarks_whole td:nth-child(2) {
    width: 60%;
  }
  
  /* Apply styles to the third column (index 3) */
  /* #bookmarks_whole td:nth-child(3) {
    width: 5%;
  } */

  #bookmarks_whole td:nth-child(3) {
    width: 5%;
    text-align: center;
  }
  #bookmarks_whole td:nth-child(4) {
    width: 2%;
    text-align: center;
  }
  #bookmarks_whole tr:hover {
      background-color: rgba(250, 242, 198, 0.409) ;
      /* border:1px solid #ff6100;z-index:200; */
      
  }

.footer{
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    height:50px;
    background: rgba(255,255,255,1);
}




/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    /* position: fixed; Stay in place */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
    border-radius: 7px;
  }
  
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 100px;
    /* border: 1px solid #888; */
    width: 60%; /* Could be modified as needed */
    position: relative;
    border-radius: 7px;
  }

.tags-block-container-modal{
  display: block;
    width:100%;
    height:23%;
    margin-top: 50px;
    /* margin-right: 30px;
    margin-left: 30px; */
    position: relative;
    justify-content : center;
    align-items: center;
    /* 확인용 */
    /* height: 300px; */
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    border: 1px solid black;
    text-align: left; /* Align the text to the left in the cells */

}
  
.close {
    position: absolute;
    top: 8%;
    right: 6%;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Button Styles (You can adjust this as needed) */
button.modal-btn {
    background-color: #ff9797;  /*#c2c2c2;*/
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
button.modal-btn:hover {
    background-color: #797979;
    }

.show-modal {
    display: block;
    }



::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border: 2px solid transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: gray;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
/* .container::-webkit-scrollbar-track {
  width:14px;
} */

a:link{
  color: #888;
  text-decoration: none;
}
a:hover {
  color : rgb(70, 63, 212);
}
a:visited {
  color : #888;
}
