* {
    box-sizing: border-box;
  }
  
body{
  margin: 0;
  padding: 2% 0% 1% 0%;
}
.container{
    width:100%;
    height:100%;
    /* margin:0 auto; */
    position: relative;
    background-color:rgba(255,255,255,1);
    display: flex;
    flex-direction: column;
    /* justify-content : center; */
    align-items: center;
    font-family: 'IBM Plex Sans KR', sans-serif;
}
.header{
    height: 145px;
    position: relative;
    background: rgba(255,255,255,1);
    display: flex;
    align-items: center;
}

.header img{
    height: 145px;
    width: auto;
    /* transform: translate(250%); */
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content1 {
    display: block;
    width:80%;
    height:23%;
    /* margin-right: 30px;
    margin-left: 30px; */
    position: relative;
    justify-content : center;
    align-items: center;
    /* 확인용 */
    /* height: 300px; */
    background-color: rgb(203, 203, 203);
    border-radius: 7px;
}

#tags{
    display: block;
    overflow-y:scroll;
    height: 70%;
    display: block;
}

.search_tag{
    display: flex;
    justify-content : center;
    align-items: center;
}

#input-tag{
    width:100%;
    height: 50px;
    left: 50%;
    /* left:25px; */
    /* padding: 5px 5px 5px 5px; */
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 7px;
    border-radius: 10px;
    border: 0;
    background-color:rgba(255, 255, 255,1);
}
#add-tag{
  width:95%;
  height: 50px;
  position: relative;
  /* left:25px; */
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  border: 0;
  background-color:rgb(42, 176, 24);
}
input:invalid ~ span::after {
    content: "✖";
    padding-left: 35px;
    /* padding-left: 5px; */
    position: absolute;
  }
  
input:valid ~ span::after {
    content: "✓";
    padding-left: 35px;
    position: absolute;
}

.tag {
    padding: 5px;
    border: 1px solid black;
    margin-top: 5px;     /* Top margin */
    margin-right: 10px;   /* Right margin */
    margin-bottom: 5px;  /* Bottom margin */
    margin-left: 10px;    /* Left margin */
    display: inline-block;
    cursor: pointer;
    transition: font-size 0.3s ease;
    border-radius: 5px;
}

.tag:hover {
    /* font-size: 120%; */
    color: #7aacfc;
}

.tag-display {
  padding: 5px;
  border: 1px solid black;
  margin-top: 5px;     /* Top margin */
  margin-right: 10px;   /* Right margin */
  margin-bottom: 5px;  /* Bottom margin */
  margin-left: 10px;    /* Left margin */
  display: inline-block;
  /* cursor: pointer; */
  transition: font-size 0.3s ease;
  border-radius: 5px;
}
.tag-delete {
  padding: 5px;
  border: 1px solid black;
  margin-top: 5px;     /* Top margin */
  margin-right: 10px;   /* Right margin */
  margin-bottom: 5px;  /* Bottom margin */
  margin-left: 10px;    /* Left margin */
  display: inline-block;
  cursor: pointer;
  transition: font-size 0.3s ease;
  border-radius: 5px;
}
.tag-delete:hover {
  /* font-size: 120%; */
  color: #f95e53;
}

.selected-tag {
    background-color: #7aacfc;
}

.bookmark {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
}

.content2 {
    display: block;
    width:80%;
    height:20%;
    display: flex;
    position: relative;
    justify-content : center;
    /* 확인용 */
    background-color: rgba(255,255,255,1);
}

.tag_box_current{
    display: block;
    /* position: absolute; */
    width: 100%;
    height: 50px;
    position: relative;
    padding-top: 5px;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* padding-top:20%; */
    border-radius: 5px;
    border: 0;
    background-color: rgb(203, 203, 203)

}
.selected-tags {
    margin-top: 20px;
    font-weight: bold;
    align-items: center;
}

.selected-tags-block {
    margin-top: 5px;
    margin-left: 5px;
    display: inline-flex;
    align-items: center;
    justify-content : center;
    font-weight: bold;
    height: 30px;
    background-color: lightblue;
    padding: 5px;
    /* margin-bottom: 1px; */
    border: 3px solid #4f13e798;
    border-radius: 5px;
  }

.content3 {
    width:80%;
    height:20%;
    position: relative;
    display: flex;
    justify-content : center;
    align-items: center;
    /* 확인용 */
    background-color: rgba(255,255,255,1);
}
.url_box{
    /* position: absolute; */
    width: 100%;
    height: 500px;
    position: relative;
	  /* top: 40px; */
    /* padding-top:20%; */
    border-radius: 5px;
    border: 0;
    background-color: rgb(203, 203, 203);
    overflow-y:scroll;
}

#bookmarks_whole {
    width: 100%; /* Set the width to 100% to fill the available space */
    table-layout: fixed; /* Fix the table layout */
    box-sizing: border-box;
  }
  
#bookmarks_whole th,
#bookmarks_whole td {
    padding: 8px; /* Add padding to the table cells for spacing */
    border: 1px solid #ccc; /* Add a border to the table cells */
    text-align: left; /* Align the text to the left in the cells */
  }
  
  #bookmarks_whole td:nth-child(1) {
    width: 30%;
  }
  
  /* Apply styles to the second column (index 2) */
  #bookmarks_whole td:nth-child(2) {
    width: 60%;
  }
  
  /* Apply styles to the third column (index 3) */
  #bookmarks_whole td:nth-child(3) {
    width: 5%;
  }

  #bookmarks_whole td:nth-child(3) {
    width: 5%;
  }
#bookmarks_whole tr:hover {
    background-color: rgba(255, 214, 240, 0.708) ;
}

.footer{
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    height:50px;
    background: rgba(255,255,255,1);
}




/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    /* position: fixed; Stay in place */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
  }
  
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 100px;
    border: 1px solid #888;
    width: 30%; /* Could be modified as needed */
    position: relative;
  }
  
.close {
    position: absolute;
    top: 8%;
    right: 8%;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Button Styles (You can adjust this as needed) */
button.modal-btn {
    background-color: #c2c2c2;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
button.modal-btn:hover {
    background-color: #797979;
    }

.show-modal {
    display: block;
    }